<?xml version="1.0"?>
<ruleset name="stefanfisk/phpreact">
    <!-- Arguments -->

    <!--
        p flag: Show progress of the run.
        s flag: Show sniff codes in all reports.
        v flag: Print verbose output.
    -->
    <arg value="psv" />

    <!-- Make phpcbf fix warnings -->
    <arg name="severity" value="5" />

    <!-- Process up to 8 files in parallell -->
    <arg name="parallel" value="8" />

    <!-- Files -->

    <arg name="extensions" value="php" />

    <file>src/</file>
    <file>tests/</file>

    <!-- Config -->

    <config name="php_version" value="70428" />

    <!-- Rules -->

    <rule ref="Doctrine">
        <exclude name="Squiz.Functions.GlobalFunction.Found" />
    </rule>
</ruleset>
